/* Estilos globais */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

p {
    margin: 0;
    line-height: 1.5;
}

/* Estilos específicos */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-end;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    nav ul li:first-child {
        margin-top: 10px;
    }
}